<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427073548905-dm41imj8i6p1uvf5u8c3lqh0rdtomcm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427073548905-dm41imj8i6p1uvf5u8c3lqh0rdtomcm7</string>
	<key>API_KEY</key>
	<string>AIzaSyBko0CORuaGsbvLGVkZ3J0GYguuuY2CUBY</string>
	<key>GCM_SENDER_ID</key>
	<string>427073548905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpbfhss.MPBLITZ</string>
	<key>PROJECT_ID</key>
	<string>mpblitz-685e7</string>
	<key>STORAGE_BUCKET</key>
	<string>mpblitz-685e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:427073548905:ios:cdf61fba780f643d</string>
	<key>DATABASE_URL</key>
	<string>https://mpblitz-685e7.firebaseio.com</string>
</dict>
</plist>